################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/.vs
/Debug/
/Server/Linkify.Domain/obj/Debug/net8.0/Linkify.Domain.sourcelink.json
