################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/.vs
/Debug/*
/Server/Linkify.Api/obj/Debug/net8.0/Linkify.Api.AssemblyInfo.cs
